body{
    background-color: rgb(15, 4, 47);
}
h1{
    color: antiquewhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 300%;
    background-color: rgb(15, 4, 48);
    position: sticky;
    top: 0px;
}
h2{
    color: antiquewhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 200%;
}
h4{
    color: antiquewhite;
    text-align: center;
}
label{
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
    border-style: solid;
    border-width: 5px;
    border-color: antiquewhite;
    border-radius: 10px;
    padding: 20px;
    margin-left: 3%;
}
label:hover{
    background-color: rgb(40, 10, 118);
}
.labels{
    margin-bottom: 60px;
}
a{
    color: antiquewhite;
    text-decoration-color: rgb(15, 4, 47);
}
a:hover{
    text-decoration-color: rgb(40, 10, 118);
}